.cafe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}



.menu-item {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.name {
    text-transform: uppercase;
}
.count {
    font-size: small;
}
.price {
    font-weight: bold;
}
.menu-placeholder {
    border-bottom: 1px solid rgba(0,0,0, 0.5);
    flex-grow: 1;
    /* height: 0.8em; */
    /* border-width: 2px; */
}



.menu h4 {
    text-transform: uppercase;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    letter-spacing: 2px;
}
