.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts h1 {
    text-align: center;
    margin: 50px;
    color: rgb(202, 202, 202);
    text-transform: uppercase;
}

/* .line {
    width: 375px;
} */

.call, .subscr {
    padding: 30px 15px;
    min-width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.call {
    border-bottom: 1px solid rgb(201, 201, 201);
    text-align: center;
    letter-spacing: 2px;
}

/* .call_icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.call_desc h4 {
    text-transform: uppercase;
    /* text-align: start;
    letter-spacing: 2px; */
}

/* .call_desc ul {
    list-style: none;
}

.call_desc li {
    margin: 10px;
} */



.subscr {
    text-align: center;
    letter-spacing: 2px;
}

.subscr_desc h4 {
    text-transform: uppercase;
}



.button {
    border-radius: 10px;
    padding: 10px 25px;
    background: rgb(202, 202, 202);
    transition: 0.5s;
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.1);
}



/* .call_desc, .subscr_desc {
    flex-grow: 1;
    display: flex;
} */

/* .subscr {
    min-width: 375px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */