footer {
    background: rgb(230, 230, 230);
	display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: auto;
    padding: 15px;
    justify-content: space-around;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 991px) {
    footer {
        position: unset;
    }
}