/* .room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.info ul {
    list-style: none;
}

.info li {
    margin: 12px;
    letter-spacing: 2px;
} */

.info-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    position: relative;
    gap: 15px;
    margin-top: 30px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    position: relative;
    gap: 15px;
}

.line {
    border-bottom: 1px solid rgba(0,0,0, 0.5);
    flex-grow: 1;
}

.text {
    letter-spacing: 2px;
}

p {
    font-size: small;
}

h4 {
    font-weight: normal;
}